<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trust.mapper.RecordMapper">
    <resultMap id="BaseResultMap" type="trust.entity.Record">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="usr" jdbcType="INTEGER" property="usr" />
        <result column="se" jdbcType="INTEGER" property="se" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="trust" jdbcType="DOUBLE" property="trust" />
    </resultMap>
    <sql id="Base_Column_List">
        id, usr, se,time, trust
    </sql>
    <insert id="insert" parameterType="trust.entity.Record">
        insert into record (usr, se,time,trust)
        values ( #{usr,jdbcType=INTEGER}, #{se,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{trust,jdbcType=DOUBLE})
    </insert>

    <select id="selectByService" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from record
        where se = #{se,jdbcType=INTEGER}
    </select>

    <select id="selectByUserAndService"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from record
        where usr = #{0,jdbcType=INTEGER}
        and se=#{1,jdbcType=INTEGER}
    </select>

    <update id="clearAll" >
        delete from record;
        update Service set count=0 and counta=0;
        update user set count=0;
        delete from count_helper;
        delete from useage;
    </update>
    <update id="clearPart" >
        delete from record;
        update Service set count=0 and counta=0;
        update user set count=0;
        delete from useage;
    </update>

</mapper>